pydantic
sqlalchemy
psycopg2-binary
numpy
click
nowcasting_dataset==3.5.8
nowcasting_dataloader==1.8.38
nowcasting_datamodel==1.1.7
fsspec
s3fs
torch
pytorch-lightning
xarray
zarr
huggingface_hub
pvlib
protobuf<4.21.0
