pydantic
sqlalchemy
psycopg2-binary
numpy
click
nowcasting_dataset==3.7.8
nowcasting_datamodel==1.1.25
nowcasting_dataloader==2.0.5
fsspec
s3fs
torch
pytorch-lightning
xarray
zarr
huggingface_hub
pvlib
protobuf<4.21.0
